*{
    font-family: "roboto", sans-serif ;
    text-decoration: none;
 }
 
.container{
    display: flex;
    flex-direction: row;
  }
  
  .container-1{
      margin: 0;
      background-color: white;
  }
  
  .container-1 h2 {
      margin: 0;
      font-size: xx-large;
  }
  
  .container-1 p {
    margin: 0;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: #eaf2fa 2px solid;
    padding: 4px;
    padding: 50px;
  }
  
  .profPic {
    height: 250px;
    width: 250px;
    /* 50% border radius makes profile picture a perfect circle */
    border-radius: 50%;
  }
  
  .bio {
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 50px;
    line-height: 1.5;
    font-size: large;
  }

