
  #contact.home-section.wg-contact { 
  font-weight: 400;
  text-align: left;
  font-family: inherit;
  font-size: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  display: block;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
  padding: 60px 0 60px 0;
  background-color: #eaf2fa;
}

#contact-header{
text-align: left;
box-sizing: border-box;
font-family: "Montserrat",sans-serif;
font-weight: 400;
line-height: 1.25;
color: #313131;
text-rendering: optimizeLegibility;
word-wrap: break-word;
word-break: break-word;
hyphens: manual;
font-size: 2.25rem;
margin: 0 500px 10px 0;
}

.section-heading{
  border: red, 50px
}


.container {
font-weight: 400;
text-align: left;
font-family: inherit;
font-size: 1rem;
line-height: inherit;
color: inherit;
box-sizing: border-box;
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.btn.btn-outline-primary.px-3.py-2{
box-sizing: border-box;
margin: 0;
font-family: inherit;
overflow: visible;
text-transform: none;
-webkit-appearance: button;
display: inline-block;
font-weight: 400;
text-align: center;
vertical-align: middle;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
color: #795548;
border-color: #795548;
padding-top: .5rem !important;
padding-bottom: .5rem !important;
padding-right: 1rem !important;
padding-left: 1rem !important;
font-size: .8rem;
line-height: .5;
border-radius: .3rem;
cursor: pointer;
}

.row.contact-widget{
font-weight: 400;
text-align: left;
font-family: inherit;
font-size: 1rem;
line-height: inherit;
color: inherit;
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;}


.mb-3{
font-weight: 400;
text-align: left;
font-family: inherit;
font-size: 1rem;
line-height: inherit;
color: inherit;
box-sizing: border-box;
margin-bottom: 1rem !important;}


form{
font-weight: 400;
text-align: left;
font-family: inherit;
font-size: 1rem;
line-height: inherit;
color: inherit;
box-sizing: border-box;}

.form-group.form-inline{
font-weight: 400;
text-align: left;
font-family: inherit;
font-size: 1rem;
line-height: inherit;
color: inherit;
box-sizing: border-box;
margin-bottom: 1rem;
display: flex;
flex-flow: row wrap;
align-items: center;}

.sr-only{
  font-weight: 400;
  text-align: left;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.form-control.w-100{
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  width: 100% !important;
}

label{
  font-weight: 400;
  text-align: left;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.form-group{
  font-weight: 400;
  text-align: left;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;}

  #inputMessage
  {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: auto;
  resize: vertical;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  height: auto;}

  @media screen and (min-width: 992px){
    /* When viewing on larger monitors the 2px borders were hard to see so increased it to 6px for screens above 992px */
    .project,
     .profile
      {
      border-right: #eaf2fa solid 6px;
    }
  
    .projects-title {
      border-right: white solid 6px;
    }

  }
  
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the page elements in a column when viewing on smaller screens */
    nav,
    body,
    .container-1,
    .container-2,
    .container-3,
    .contact,
    header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;;
      margin-left: 0%
    }
  
    /* Borders needed to be adjusted to make sense on smaller screens so removed in some sections and moved from right to bottom on others */
    
    .projects-title {
      border: 0
    }
    .profile,
    .project {
      border-bottom: #eaf2fa solid 2px;
      border-right: 0;
    }
  
  }